


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth; 
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #444;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #666;
    color: #fff;
  }
  
  
  nav ul li a.active {
    background-color: #fff;
    color: #333;
  }
  
  
  section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #333;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form button[type="submit"] {
    width: fit-content;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }